*{margin: 0px;padding: 0px;}
ul,ol{list-style: none;}
a{text-decoration: none;}
a:active,a:focus{outline: none}
body{
	font-family: Arial, Lucida, Verdana, 宋体, Helvetica, sans-serif;
	font-size: 62.5%;
	background: #ffffff url(../img/paper.gif) repeat;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.navbar-iradius{
	border-radius: none!important;
	background: linear-gradient(45deg,#020031,#6d3353 100%);
	-webkit-box-shadow: 0px 1px 3px #aaa;
	box-shadow: 0px 1px 3px #aaa;
}
.block_nav{
	background-color: #fff;
	width: 70%;
	margin: 0 auto;
	border-radius: 3px;
	padding-top: 50px;
	box-shadow: 0px 0px 5px 1px #ddd; 

}
.nav-class{
	float: left;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-left: -1px;
	width: 50%;
	box-sizing:border-box;
	padding: 10px;
}
.nav-class dd{
	float: left;
	margin-right: 5px;
	border-radius: 3px;
	background-color: #ddd;
	line-height: 22px;
	padding: 0px 5px;
}
.search input{
	  border: 0px;
	  background-color: rgba(245,245,245,0.3);
	  /*border-top: 1px solid rgba(255,255,255,0.3);
	  border-bottom: 1px solid rgba(221,221,221,0.3);*/
	  border-radius: 30px;
	  -webkit-transition:all .4s 0s;
}
.search input:focus{
	background-color: rgba(245,245,245,0.9);
}