<ul class="clearfix">
	<li class="nav-class">
		<dl>
			<dt class="nav-title">title</dt>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav</dd>
			<dd class="nav-item">nav</dd>
		</dl>
	</li>
	<li class="nav-class">
		<dl>
			<dt class="nav-title">title</dt>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav</dd>
			<dd class="nav-item">nav</dd>
		</dl>
	</li>
	<li class="nav-class">
		<dl>
			<dt class="nav-title">title</dt>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav</dd>
			<dd class="nav-item">nav</dd>
		</dl>
	</li>
	<li class="nav-class">
		<dl>
			<dt class="nav-title">title</dt>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav-item</dd>
			<dd class="nav-item">nav</dd>
			<dd class="nav-item">nav</dd>
		</dl>
	</li>
</ul>