<div id="login">
	<form action="" class="form-inline" novalidation>
		<div class="form-group">
			<div class="input-group tooltip_parent">
				<div class="input-group-addon" class="icon">^</div>
				<input type="text" class="form-control">
				<span class="tooltip"><i class='spiky'></i>用户名</span>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group tooltip_parent">
				<div class="input-group-addon" class="icon">^</div>
				<input type="text" class="form-control">
				<span class="tooltip"><i class='spiky'></i>密码</span>
			</div>
		</div>
	</form>
</div>